<!doctype html>
<html>
	{{> headPartial}}
	<body>
		<div class="content">
			<h1>{{title}}</h1>
			<div id="usernameConsole">
				<input id="usernameInput" type="text" placeholder="Username" />
				<input id="usernameSubmit" type="submit" value="Change"/>
			</div>
			<div id="chitChatBox">
				<div id="innerChitChatBox"></div>
			</div>
			<div id="messageConsole">
				<input id="messageInput" type="text" autocomplete="off" />
				<input id="colorPicker" type="color" />
				<input id="messageSubmit" type="submit" value="Send" />
			</div>
		</div>
	</body>
</html>