@orange: #FF9900;
@blue: #0000FF;
@lightBlue: lighten(@blue, 25%);

@borderWidth: 5px;
@pageWidth: 1000px;
@boxHeight: 450px;
@chatContainerWidth: (@pageWidth * 0.9);
@chitChatBoxWidth: (@chatContainerWidth * 0.8);
@userListWidth: (@chatContainerWidth - @chitChatBoxWidth - (@borderWidth * 4));
@sendButtonWidth: 46px;
@colorPickerWidth: 23px;
@colorPickerHeight:20px;
@smallSpace: 5px;
@mediumSpace: 10px;
@largeSpace: (@mediumSpace + @smallSpace);

html {
	height:1000px;
}

body {
	background-color:@orange;
	height:100%;
	margin:0;
}

a {
	text-decoration:none;
	color:@blue;
	&:hover {
		text-decoration:underline;
		color:@lightBlue;
	}
}

.content {
	background-color:#FFF;
	width:@pageWidth;
	height:100%;
	padding:0 @mediumSpace;
	margin:0 auto;
	overflow:hidden;
}

#usernameConsole {
	margin:0 auto;
	width:@chatContainerWidth + (@borderWidth * 2);

	#usernameInput {
		margin-left:0;
	}
}

#chatContainer {
	border:@borderWidth inset;
	width:@chatContainerWidth;
	height:@boxHeight;
	margin:0 auto;
		
	#chitChatBox {
		display:inline-block;
		width:@chitChatBoxWidth;
		vertical-align:bottom;
		overflow-y:scroll;
	}
	
	#userListContainer {
		display:inline-block;
		width:@userListWidth;
		padding:@smallSpace;
		border-left: @borderWidth ridge;
		overflow-y:auto;
		height:100%;
	}
}

#messageConsole {
	margin:0 auto;
	width:@chatContainerWidth + (@borderWidth * 2);
	#messageInput {
		width:(@chatContainerWidth - @sendButtonWidth - 2 - @colorPickerWidth - 4);
	}
	#colorPicker {
		vertical-align:bottom;
		width:@colorPickerWidth;
		height:@colorPickerHeight;
	}
	#messageSubmit {
		width:@sendButtonWidth;
		margin:auto 0;
	}
}

.message {
	vertical-align:bottom;
}